
/*----------------------Admin Login, Register------------------*/

section.login, section.login h2, section.forgot-password, section.form-forgot h2, section.reset-password, .reset-password h2{
    margin-top: 0%;
}


.form-login, .register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.login, section.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login{
    width: 360px;
}

.form-label{
    width: 280px;
}

.form-forgot, .form-reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 360px;
}

.form-forgot .btn-primary:hover{
    background-color: var(--primary-color-dark-1);
    border: 1px solid var(--primary-color-dark-1);
    box-shadow: none;
}