
/*----------------------Admin Login, Register------------------*/

.form-login, .register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

section.login, section.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


