/*----------------------Buttons------------------------*/

.btn-success,
button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-family: var(--size-h3-mobile);
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25),
    0 1.5px 4px rgba(60, 180, 60, 0.18);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center !important;
  margin: 1rem auto; /* Cambiado para centrar horizontalmente */
}

/* Centrado específico para botones en formularios */
.form-direction .btn-success,
.form-contact .btn-success {
  display: block;
  margin: 1rem auto;
  width: fit-content;
}

.btn-success:hover,
.btn-success:focus {
  background-color: var(--primary-color-dark-2);
  color: var(--white);
  box-shadow: 0 2px 8px rgba(60, 180, 60, 0.18);
  outline: none;
  transition: background 0.2s, box-shadow 0.2s;
}

button[type="submit"]:disabled {
  background-color: var(--primary-color-light-2);
  cursor: not-allowed;
}

.success-message {
  color: var(--primary-color-dark-2);
  padding: 1rem;
  background-color: var(--primary-color-light-2);
  border-radius: 4px;
  margin-top: 1rem;
}

.error-message {
  color: var(--red);
  padding: 1rem;
  background-color: var(--primary-color-light-2);
  border-radius: 4px;
  margin-top: 1rem;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.contact .form-contact .btn-success{
    display: flex;
    justify-content: center;
}