  .carousel-index img{
    width: 390px;
    height: 300px;
    object-fit: cover;
  }
  
  .carousel-index h2{
    font-size: var(--size-h3-mobile);
    color: var(--white);
  }
  
  @media (min-width: 768px){
      
    .carousel-index img{
      width: 100%;
      height: 70vh;
      object-fit: hidden;
    }
    
    .carousel-index h2{
      font-size: var(--size-h3-desktop);
      color: var(--white);
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
      width: 60px;
      height: 60px;
    }

  }