:root {
  /* Colores primarios */
  --primary-color: #57af31;
  --primary-color-dark-1: #5faf27;
  --primary-color-dark-2: #5fad28;
  --primary-color-light-1: #a3e176;
  --primary-color-light-2: #c3eea4;

  /* Tonos de negro */
  --black: #111827;
  --black-1-texto: #49454f;
  --black-2: #7f7e7e;
  --form: #a2a0a023;
  --dark-mode: #212529;
  --grey-dark: #2c2c2c;

  /* Tonos de blanco */
  --white: #f9fafb;
  --white-1-background: #f2f2f2;
  --white-2: #a2a0a0;

  /* Tipografía */
  --font-base: "Poppins", sans-serif;

  /* Tamaños */
  --size-h1-mobile: 2rem; /* 32px */
  --size-h2-mobile: 1.625rem; /* 26px */
  --size-h3-mobile: 1.25rem; /* 20px */
  --size-paragraph-mobile: 0.875rem; /* 14px */
  --size-button-mobile: 1rem; /* 16px */
  --size-h1-desktop: 4rem; /* 64px */
  --size-h2-desktop: 2.5rem; /* 40px */
  --size-h3-desktop: 1.5rem; /* 24px */
  --size-paragraph-desktop: 1rem; /* 16px */
  --size-button-desktop: 1.25rem; /* 20px */

  /* Errores */
  --red: #b3261e;
  /* Espaciados estándar */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 2rem; /* 32px */
  --spacing-lg: 3rem; /* 48px */
  --spacing-xl: 5rem; /* 80px */
}

/*Tamaño Mobile*/

h1,
h2,
h3 {
  font-family: var(--font-base);
  color: var(--grey-dark);
  font-weight: bolder;
}

h1 {
  font-size: var(--size-h1-mobile);
  letter-spacing: 0.02em;
}

h2 {
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.01em;
}

h3 {
  font-size: var(--size-h3-mobile);
  letter-spacing: 0.02em;
}

p {
  font-family: var(--font-base);
  font-size: var(--size-paragraph-mobile);
  color: var(--black-1-Texto);
  letter-spacing: 0.01em;
}

section {
  margin-top: var(--spacing-md);   /* 2rem */
  margin-bottom: var(--spacing-lg); /* 3rem */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

section h2 {
  margin-top: var(--spacing-lg);     /* 3rem */
  margin-bottom: var(--spacing-md);  /* 2rem */
  text-align: center;
}

/* Centrado del formulario de suscripción */
.suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-direction {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Mobile first */
/* body */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  color: var(--black);
  background-color: var(--white);
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--size-h1-desktop);
    letter-spacing: 0.025em;
  }

  h2 {
    font-size: var(--size-h2-desktop);
    letter-spacing: 0.035em;
  }

  h3 {
    font-size: var(--size-h3-desktop);
    letter-spacing: 0.025em;
  }

  p {
    font-family: var(--font-base);
    font-size: var(--size-paragraph-desktop);
    letter-spacing: 0.012em;
  }
  section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    margin-top: var(--spacing-xl);    /* 5rem */
    margin-bottom: var(--spacing-xl); /* 5rem */
  }

  section h2 {
    margin-top: var(--spacing-xl);   /* 5rem */
    margin-bottom: var(--spacing-md); /* 2rem */
  }
}
