:root {
    /* Colores primarios */
    --primary-color: #57AF31;
    --primary-color-dark-1: #5FAF27;
    --primary-color-dark-2: #5FAD28;
    --primary-color-light-1: #A3E176;
    --primary-color-light-2: #C3EEA4;

  /* Tonos de negro */
    --black: #111827;
    --black-1-texto: #49454F;
    --black-2: #7F7E7E;
    --form: #a2a0a023;

  /* Tonos de blanco */
    --white: #f9fafb;
    --white-1-background: #F2F2F2;
    --white-2: #A2A0A0;


  /* Tipografía */
    --font-base: 'Linotte-Light', sans-serif;

  /* Tamaños */
    --size-h1-mobile:32px;
    --size-h2-mobile:26px;
    --size-h3-mobile:20px;
    --size-paragraph-mobile:14px;
    --size-button-mobile:16px;
    --size-h1-desktop:64px;
    --size-h2-desktop:32px;
    --size-h3-desktop:24px;
    --size-paragraph-desktop: 16px;
    --size-button-desktop: 20px;

    /* Errores */
    --red:#B3261E;
}

/*Tamaño Mobile*/

h1, h2, h3{
  font-family: var(--font-base);
  color: var(--primary-color);
  font-weight: bolder;
}

h1{
    font-size: var(--size-h1-mobile);
}

h2{
  font-size: var(--size-h2-mobile);
}

h3{
  font-size: var(--size-h3-mobile);
}

p{
  font-family: var(--font-base);
  font-size: var(--size-paragraph-mobile);
  color: var(--black-1-Texto);
}

section{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

section h2{
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Centrado del formulario de suscripción */
.suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-direction {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Mobile first */
/* body */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-base);
    color: var(--black);
    background-color: var(--white);
}

@media (min-width: 768px){

h1{
    font-size: var(--size-h1-desktop);
}

h2{
  font-size: var(--size-h2-desktop);
}

h3{
  font-size: var(--size-h3-desktop);
}

p{
  font-family: var(--font-base);
  font-size: var(--size-paragraph-desktop);
}

section{
  margin-left: 60px;
  margin-right: 60px;
}
}