.card-wheather{
        background: var(--white-2);
        border-radius: 20px;
        padding: 24px;
        max-width: 340px;
        margin: 0 auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}