PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=XXXXXXXXXX
DB_NAME=LoberiaTurismoPrueba

# Nodemailer
EMAIL_HOST=smtp.enviosloberia.gob.ar
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_ADDRESS=xxxx@gmail.com
EMAIL_USER=xxxx@gmail.com
EMAIL_PASS=xxxxxxxxxxxxxxxx

# API Weather
OPENWEATHER_API_KEY=ffffffffffffffffffffffffffffffff

JWT_SECRET=SecretClaveProjectLoberia_2025
BASE_URL=http://localhost:5173
